body{  
  font-family: Calibri, Helvetica, sans-serif;  
  
}  
.container {  
    padding: 50px;  
  background-color: lightblue;  
}  
  
input[type=text], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
}  
input[type=text]:focus{  
  background-color: orange;  
  outline: none;  
}  
 div {  
            padding: 10px 0;  
         }  
hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px;  
  width: 100%;
}  
.registerbtn {  
  background-color: rgb(63, 160, 63); 
  color: white;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  border: none;  
  cursor: progress;  
  width: 100%;  
  opacity: 0.9;  
}  
.registerbtn:hover {  
  opacity: 1;  
  background-color: orange;
  color: black;
}  
.hr:hover{
  background-color: red;
}